@import "../../scss/variables.scss";

body {
  background-color: $panel-dark !important;
}
#app-content {
  position: absolute;
  background-color: $panel-main;
  color: $heading-color;
  left: 20px;
  right: 20px;
  bottom: 20px;
  top: 20px;
  overflow: auto;
  h1 {
    color: $heading-color;
    padding-left: 10px;
  }
}

::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $panel-dark;
  border: 2px inset #ddd;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
  background: $panel-light;
  width: 8px;
}
.ui.divider {
  color: $heading-color !important;
}

